.features {
  position: absolute;
  /* height: 550px; */
  top: 910px;
  left: 0;
  right: 0;
  padding: 70px 185px 90px 185px;
  gap: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1c242408;
}
h1 {
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #1c2424;
}
.features-frame {
  /* width: 984.28px; */
  height: 328px;
  gap: 46px;
  display: flex;
  background-color: transparent;
  /* transition: all ease-out; */
  /* transform: scale(1.1); */
}
.features-frame2 {
  max-width: 365.28px;
  height: 324.5px;
  /* border: 1px solid #009C9566; */
  background-color: transparent;
}
.featuregroup{
  width: 100%;
  background-color: transparent;
}
.features-frame1,
.features-frame3 {
  width: 265px;
  height: 328px;
  gap: 68px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}
.features-frame1a,
.features-frame3a {
  width: 213px;
  height: 130px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.ellipse {
  transition: all ease-in-out;
  background-color: transparent;
}
.ellipse:hover {
  transform: scale(1.1);
  /* transition: all; */
}
/* .features-frame:hover{
    transform: scale(1.1);
} */
.ellipse-content {
  font-family: Merriweather;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #1c2424;
}

@media screen and (max-width: 960px) {
  .features {
    top: 805px;
    /* gap: 30px; */
    padding: 60px 60px 90px 60px;
  }
  .features-frame {
    width: 600px;
    gap: 30px;
  }
  .featuregroup{
    align-items: center;
    justify-content: center;
  }
  .features-frame1,
.features-frame3 {
  width: 150px;
  height: 328px;
  gap: 50px;
}
.features-frame1a,
.features-frame3a {
  width: 213px;
  height: 130px;
  gap: 10px;
}
.ellipse-content {
  font-size: 10px;
  font-weight: 200;
  line-height: 15px;
}
}

@media screen and (max-width: 480px){
    .features{
      top: 800px;
    }
    .features-frame{
        display: flex;
        flex-direction: column;
        height: 1000px;
        gap: 40px;
        align-items: center;
    }
    .features-frame1,
    .features-frame3{
        display: flex;
        flex-direction: row;
        width: 328px;
    }
} 
